.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.button {
	border-radius: 108px;
	display: inline;
	background-color: #a98260;
	position: relative;
	color: white;
	border: none;
	font-size: 64px;
	font-weight: 500;
	font-family: "Rubik", sans-serif;
	padding: 5px 50px;
	text-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	overflow: hidden;
	cursor: pointer;
}

.button:active {
	border-radius: 108px;
	display: inline;
	background-color: red;
	position: relative;
	color: white;
	border: none;
	font-size: 64px;
	font-weight: 500;
	font-family: "Rubik", sans-serif;
	padding: 5px 50px;
	text-align: center;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;

	overflow: hidden;
	cursor: pointer;
}
